@import "../../scss/variables.scss";

.depoiments {
  padding: 0 5%;

  &__title {
    font-family: $fonteTitulo;
    font-size: 1.75rem;
    margin: 5% 0 15% 0;
    color: $marromTipo;
    width: 100%;
    margin: 0;
    text-align: center;
    //titulo repetido  - REFATORAR -
  }

  &__content {
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    color: $marromTipo;
  }
}

.cardDepoiments {
    margin: 10% 0;
    border: 1px solid $laranjaPrincipal;
    display: flex;
    flex-direction: column;

    &__content {
        font-size: 1rem;
        line-height: 24px;
        text-align: center;
        color: $marromTipo;
        font-style: italic;
        width: 100%;
        min-height: 30vh;
        padding: 5%;
        margin: 0;
        border-bottom: 1px solid $laranjaPrincipal;
    }    

    &__author {
        font-size: 1rem;
        line-height: 24px;
        color: $marromTipo;
        margin: 0;
        font-weight: 900;
        padding: 0 5%;
        margin-top: 5%;
        text-align: center;
    }

    &__authorSubtitle {
        font-size: .85rem;
        line-height: 24px;
        color: $marromTipo;
        margin: 0;
        padding: 0 5%;
        margin-bottom: 5%;
        text-align: center;
    }
}

.controllerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__controller {
        font-size: 1.25rem;
        color: $marromTipo;
        background-color: $bgBotao;
        border: none;
        margin: 0 2.5%;
        height: 5vh;
        width: 10%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        & span {
            font-size: 1.25rem;
        }
    }
}
