@import "../../scss/styles.scss";

.depoiments {
  padding: 0 5%;

  &__title {
    @extend .title;
  }

  &__content {
    @extend .content;
    @include desktop {
      text-align: center;
    }
  }
}

.cardDepoiments {
  @include display-flexDirection(flex, column);
  border: $bordaCard;
  margin: 10% 0;

  &__content {
    @extend .content;
    border-bottom: $bordaCard;
    font-style: italic;
    margin: 0;
    min-height: 30vh;
    padding: 5%;
    width: 100%;
  }

  &__author {
    @extend .depoimentsAuthors;
    @include color-fontSize($marromTipo, 1rem);
    font-weight: 900;
  }

  &__authorSubtitle {
    @extend .depoimentsAuthors;
    @include color-fontSize($marromTipo, 0.85rem);
  }
}

.controllerContainer {
  @include display-flexDirection(flex, column);
  @include alignItens-justifyContent(center, center);
  width: 100%;

  &__controller {
    @include alignItens-justifyContent(center, center);
    @include color-fontSize(1.25rem, $marromTipo);
    @include display-flexDirection(flex, column);
    @include height-width(5vh, 10%);
    background-color: $bgBotao;
    border: none;
    border-radius: 50%;
    margin: 0 2.5%;

    & span {
      font-size: 1.25rem;
    }
  }
}
