@import "../../scss/styles.scss";

.notFound {
  & svg {
    width: 100%;
  }
}

.botao {
  @extend .botaoSaibaMais;

  @include desktop {
    background-color: transparent;
    left: 530px;
    position: relative;
    top: 520px;
    width: 15%;
  }
}
