@import "../../scss/styles.scss";

.containerExchange {
  padding: 0 5%;
  //------------------------------------->
  @include desktop {
    @include alignItens-justifyContent(center, center);
    @include display-flexDirection(flex, column);
    padding: 0 7.5%;
  }

  &__title {
    @extend .title;

    //---------------------------------------->
    @include desktop {
      margin: 10% 0 5%;
    }
  }

  &__content {
    @extend .content;
    margin: 5% 0;
    text-align: justify;
    width: 100%;

    //---------------------------------------->
    @include tablet {
      margin: 1.5% 0;
    }

    //---------------------------------------->
    @include desktop {
      margin: 1.25% 0;
    }
  }
}
