@import "../../../scss/styles.scss";

.ordenador {
  @include display-flexDirection(flex, row);
  @include alignItens-justifyContent(center, space-between);
  @include color-fontSize(white, 1.25rem);
  background-color: $marromTipo;
  border: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: bold;
  height: 6vh;
  min-width: 240px;
  padding: 0 2.5%;
  position: relative;
  &--ativo {
    background-color: $laranjaPrincipal;
  }

  &__opcoes {
    display: none;
    position: absolute;
    left: 0;
    flex-direction: column;
    top: 100%;
    width: 100%;
    &--ativo {
      display: flex;
    }
  }

  &__opcao {
    @include alignItens-justifyContent(center, flex-end);
    background-color: $marromTipo;
    border-top: 2px solid white;
    color: white;
    display: flex;
    height: 6vh;
    padding-right: 5%;
    width: inherit;
    &:hover,
    &--ativo {
      background-color: $bgBotao;
      cursor: pointer;
      color: $laranjaPrincipal;
    }
  }
}
