@import "../../scss/styles.scss";

.materials {
  background-image: url("../../assets/bg2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5%;
  @include desktop {
    padding: 0 7.5%;
  }

  &__container {
    @include display-flexDirection(flex, column);
    @include alignItens-justifyContent(center);
    margin-bottom: 10%;

    @include tablet {
      @include display-flexDirection(flex, row);
      @include alignItens-justifyContent(center, space-between);
      flex-wrap: wrap;
    }

    @include desktop {
      margin-bottom: 2%;
      &:last-of-type {
        @include display-flexDirection(flex, row);
        @include alignItens-justifyContent(stretch, space-between);
        flex-wrap: wrap;
      }
    }
  }

  &__title {
    @extend .title;
  }

  &__content {
    @extend .content;

    & span {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__card {
    @include alignItens-justifyContent(center);
    @include display-flexDirection(flex, column);
    background-color: white;
    border: 1px solid $laranjaPrincipal;
    box-shadow: 4px 4px 4px 0 rgba($color: #000000, $alpha: 8%);
    margin-bottom: 5%;
    width: 80%;
    
    @include tablet {
      margin-bottom: 5%;
      min-height: 60vh;
      width: 47.5%;
    }
    
    @include desktop {
      margin-bottom: 5%;
      width: 22.5%;
      transition: all .3s ease-in-out;
      &:hover {
        box-shadow: 8px 8px 8px rgba(0,0,0,24%);
        transform: translateY(-10px);
        transition: all .3s ease-in-out;
        z-index: 1;
      }
    }

    &___icon {
      padding: 5% 0;
      width: 30%;
      @include desktop {
        width: 25%;
      }
    }

    &___title {
      @extend .title;
      border-bottom: 1px solid $laranjaPrincipal;
      border-top: 1px solid $laranjaPrincipal;
      padding: 2.5% 0;
      @include desktop {
        font-size: 1.25rem;
      }
    }

    &___content {
      @extend .content;
      padding: 5%;
      @include desktop {
        font-size: 1rem;
        line-height: 30px;
      }
    }
  }
}
