@import "../../scss/styles.scss";

.header {
  @include alignItens-justifyContent(center, center);
  @include display-flexDirection(flex, column);
  @include height-width(100vh, 100vw);
  background-image: url("../../assets/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @include desktop {
    padding: $padding-lateral-7;
  }

  &__containerContent {
    @include alignItens-justifyContent(center, center);
    @include display-flexDirection(flex, column);
    margin-top: $m-t-30;
    margin-bottom: $m-b-30;

    @include desktop {
      margin-top: $m-t-20;
      margin-bottom: 0;
    }

    &___title {
      @include color-fontSize($marromTipo, 3rem);
      font-family: $fonteTitulo;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;

      @include tablet {
        @include color-fontSize($marromTipo, 3.75rem);
      }

      @include desktop {
        @include color-fontSize($marromTipo, 6rem);
      }
    }

    &___subtitle {
      @include color-fontSize($marromTipo, 1rem);
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      @include tablet {
        @include color-fontSize($marromTipo, 1.35rem);
      }
      @include desktop {
        @include color-fontSize($marromTipo, 2.25rem);
      }
    }

    &___box {
      @include display-flexDirection(flex, column);
      @include alignItens-justifyContent(null, center);
      padding: 0 5%;
      @include tablet {
        padding: 0;
      }
    }

    &___content {
      @include color-fontSize($marromTipo, 1rem);
      margin: 5% 0 0 0;
      text-align: center;
      width: 100%;
      @include tablet {
        @include color-fontSize($marromTipo, 1.35rem);
        width: 75%;
        margin: 2.5% auto;
      }
      @include desktop {
        font-size: 1.5rem;
      }
    }
  }

  //link que envolve o botao Saiba Mais
  & > a {
    @include display-flexDirection(flex, row);
    @include alignItens-justifyContent(center, center);
    text-decoration: none;
    width: 100%;
    margin-top: 15%;

    @include desktop {
      @include display-flexDirection(flex, row);
      @include alignItens-justifyContent(center, center);
      text-decoration: none;
      width: 100%;
      margin-top: 5%;
    }    
  }

  &__botao {
    @extend .botaoSaibaMais;
    align-self: flex-end;

    @include desktop {
      width: 30%;
    }
  }
}
