@import '../../scss/styles.scss';

.navContainer {
    display: flex;
    justify-content: space-between;
    //------------------------------------------
    //margin somente para ajuste no mobile
    margin-bottom: 10%;
    //------------------------------------------
    
    &__navClose {
        padding-right: 5%;
        max-width: 0px; //mobile-only
        max-height: 0px; //mobile-only
    }

    &__navOpen {
        padding-right: 5%;
    }

    &__hamburguer {
        position: absolute;
            top: 5.5%;
            right: 5%;
        width: 15%;
        height: 7.5%;
        background-color: transparent;
        border: 3px solid $marromTipo;
        padding: 2.5% 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &___line {
            width: 100%;
            height: 3px;
            background-color: $marromTipo;
        }
    }

    &__ulClose {
        list-style: none;
        visibility: collapse;
    }

    &__ulOpen {
        list-style: none;
        background-color: #fff;
        position: absolute;
            top: 80px;
            left: 0;
        width: 100%;
        height: 36%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 7.5%;
        animation: fadeIn 0.95s ease-in-out;

        & li {
            font-size: 1.5rem;
            padding: 2.5% 0;
            animation: fadeIn 0.95s ease-in-out;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.logo {
    width: 40%;
    margin: 5%;
}

