@import "scss/styles";

.locale {
  @include display-flexDirection(flex, column);
  margin-bottom: 10%;

  &__title {
    @extend .title;
  }

  &__mapa {
    border: none;
    height: 450px;
    width: 100%;
  }
}
