@import "../../scss/styles.scss";

.container {
  @include alignItens-justifyContent(center);
  @include display-flexDirection(flex, column);
  padding: 20% 5% 0%;

  @include tablet {
    padding: 10% 5% 0%;
  }
  @include desktop {
    //padding: $padding-lateral;;
  }
}

.produtosHeader {
  @include alignItens-justifyContent(center);
  @include display-flexDirection(flex, column);

  &__title {
    @extend .title;
  }

  &__content {
    @extend .content;
  }
}

.produtosContainerBuscarOrdenar {
  width: 100%;
  @include desktop {
    @include alignItens-justifyContent(center, space-between);
    @include display-flexDirection(flex, row);
    width: 100%;
  }
}

.produtosFilter {
  @include alignItens-justifyContent(null, space-between);
  @include display-flexDirection(flex, row);
  flex-wrap: wrap;
  margin-bottom: 15%;
  padding: 5% 0;
  width: 100%;

  @include tablet {
    & > p {
      width: 100%;
    }
  }

  @include desktop {
    @include alignItens-justifyContent(null, flex-start);
    padding: 2.5% 0;
    margin-bottom: 1.5%;
    & > p {
      margin: 0.5% 0;
      width: 100%;
    }
  }

  &__button {
    @include color-fontSize($marromTipo, 1.25rem);
    @include height-width(10vh, 47.5%);
    background-color: transparent;
    border: $bordaCard;
    margin: 2.5% 0;
    transition: $transition;

    @include tablet {
      width: 30%;
    }

    @include desktop {
      height: 7.5vh;
      width: 15%;
    }

    &:hover {
      @include color-fontSize($branco, 1.3rem);
      background-color: $bgBotao;
      border: $bgBotao;
      font-weight: bold;
      transition: $transition;
    }
  }
}

.button--active {
  @include color-fontSize($branco, 1.3rem);
  background-color: $bgBotao;
  border: $bgBotao;
  font-weight: bold;
  transition: $transition;
}
