@import "scss/styles";

.container {
  @include alignItens-justifyContent(center);
  @include display-flexDirection(flex, column);
  padding: 0 5%;
  @include desktop {
    padding: 0 7.5%;
  }
}

.produtosHeader {
  @include alignItens-justifyContent(center);
  @include display-flexDirection(flex, column);

  &__title {
    @extend .title;
  }

  &__content {
    @extend .content;
  }
}

.produtosContainerCard {
  @include display-flexDirection(flex, column);
  @include alignItens-justifyContent(center, null);

  @include tablet {
    @include display-flexDirection(flex, row);
    @include alignItens-justifyContent(stretch, space-between);
    flex-wrap: wrap;
  }

  @include desktop {
    @include display-flexDirection(flex, row);
    @include alignItens-justifyContent(stretch, space-between);
    flex-wrap: wrap;
  }
}

.produtosContainerBuscarOrdenar {

  @include desktop {
    @include alignItens-justifyContent(center, space-between);
    @include display-flexDirection(flex, row);
    width: 100%;
  }
}

