@import "../../scss/styles.scss";

.about {
  @include desktop {
    @include display-flexDirection(flex, row);
    @include alignItens-justifyContent(center, center);
    flex-wrap: wrap;
    padding: 0 7.5%;
    width: 100%;
  }

  &__container {
    @include alignItens-justifyContent(center);
    @include display-flexDirection(flex, column);

    & > a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      width: 100%;
    }

    &___contentBox {
      @include desktop {
        width: 50%;
      }
    }

    @include tablet {
      & > a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        width: 100%;
      }
    }

    @include desktop {
      @include alignItens-justifyContent(center, space-between);
      @include display-flexDirection(flex, row);
      flex-wrap: wrap;
      width: 100%;
      &:last-child {
        width: 75%;
      }

      & > a {
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
        width: 100%;
      }
    }
  }

  &__title {
    @extend .title;
    @include tablet {
      margin: 5% 0;
    }
    @include desktop {
      width: 100%;
      margin: 2.5% 0;
      font-size: 3.5rem;
    }
  }

  &__img {
    border-radius: 4px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 8%);
    margin-bottom: 10%;
    width: 100%;
    @include tablet {
      width: 50%;
      margin: 2.5% auto;
    }
    @include desktop {
      width: 50%;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &__content {
    @extend .content;
    padding: 5% 5% 5%;
  }

  &__botaoSaibaMais {
    @extend .botaoSaibaMais;
    @include desktop {
      width: 50%;
      margin: 1.5% auto;
    }
  }
}
