@import "../../scss/variables/variables.scss", 
"../../scss/components/title/Title.module.scss";

.about {
  padding: 0 5%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @extend .title
  }

  &__img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 8%);
    margin-bottom: 10%;
  }

  &__content {
    font-size: 1rem;
    line-height: 24px;
    text-align: justify;
    color: $marromTipo;
    padding-bottom: 5%;
  }

  &__button {
    text-transform: uppercase;
    font-size: 1.25rem;
    color: #57504b;
    background-color: #9d9285;
    border: none;
    margin: 2.5% 0;
    height: 10vh;
    width: 100%;
    font-weight: 900;
    //botao repetido com o botao do header - REFATORAR - 
  }
}
