@import "../../../scss/styles.scss";

.busca {
  width: 47.5%;
  height: 6vh;
  border: 1px solid $laranjaPrincipal;
  margin: 2.5% 0;

  &::placeholder {
    padding: 2%;
    color: $marromTipo;
  }
}
