@import "../../../scss/styles.scss";

.busca {
  @include height-width(6vh, 100%);
  border: $bordaCard;
  margin: 2.5% 0;

  &:focus {
    border-color: $bgFooter;
    padding: 2.5%;
  }

  &::placeholder {
    color: $marromTipo;
    padding: 1%;
  }

  @include desktop {
    margin: 0.5%;
    width: 47.5%;
  }
}
