@import "../../../scss/styles.scss";

.messageContainerForm {
  @include alignItens-justifyContent(center, center);
  @include display-flexDirection(flex, row);
  @include height-width(7.5vh, 100%);
  background-color: $success;
  margin-bottom: $m-b-5;
  opacity: 0.8;
  @include desktop {
    margin-bottom: $m-b-7;
  }
}

.messageContainerFooter {
  @include alignItens-justifyContent(center, flex-start);
  @include display-flexDirection(flex, row);
  @include height-width(7.5vh, 100%);
  margin-bottom: $m-b-5;
}

.messageContentForm {
  @include color-fontSize($branco, 1rem);
  text-align: center;
}

.messageContentFooter {
  @include color-fontSize($success, 1rem);
  text-align: start;
}
