@import "../../variables/variables.scss", "../../mixins/mixins.scss";

.botaoSaibaMais {
  @include color-fontSize($marromTipo, 1.25rem);
  @include height-width(10vh, 60%);
  background-color: $bgBotao;
  border: none;
  margin: 2.5% 0;
  text-transform: uppercase;
  transition: $transition;
  &:hover {
    @include color-fontSize($branco, 1.35rem);
    transition: $transition;
    cursor: pointer;
  }
  &:active {
    @include color-fontSize($laranjaPrincipal, 1.35rem);
    background-color: $marromAcinzentado;
    transition: $transition;
  }

  @include tablet {
    margin: 2.5% auto;
    width: 75%;
  }

  @include desktop {
    @include color-fontSize($laranjaPrincipal, 1.25rem);
    width: 75%;
    &:hover {
      @include color-fontSize($branco, 1.35rem);
      box-shadow: $boxShadow-24;
      transform: translateY(-10px);
      transition: $transition;
    }
    &:active {
      @include color-fontSize($laranjaPrincipal, 1.35rem);
      background-color: $marromAcinzentado;
      transition: $transition;
    }
  }
}
