@import "../../variables/variables.scss", "../../mixins/mixins.scss";


.botaoSaibaMais {
    background-color: $bgBotao;
    border: none;
    color: $marromTipo;
    font-size: 1.25rem;
    height: 10vh;
    margin: 2.5% 0;
    text-transform: uppercase;
    width: 100%;
    transition: color 0.25s;
    transition: font-size 0.25s;
    &:hover {
        color:white;
        font-size: 1.35rem;
        transition: color 0.25s;
        transition: font-size 0.25s;
    }
    &:active {
        color:$laranjaPrincipal;
        background-color: $marromAcinzentado;
        font-size: 1.35rem;
        transition: color 0.25s;
        transition: background-color 0.25s;
    }

    @include tablet {
        margin: 0 auto;
        width: 75%;
    }
}