@import "../../../../scss/styles.scss";

.produtosCard {
  @include alignItens-justifyContent(center, flex-start);
  @include display-flexDirection(flex, column);
  border: $bordaCard;
  box-shadow: $boxShadow-8;
  margin-bottom: 10%;
  overflow: hidden;
  visibility: visible;
  width: 90%;

  @include tablet {
    width: 47.5%;
  }

  @include desktop {
    margin-bottom: 5%;
    transition: $transition;
    width: 22.5%;
    &:hover {
      box-shadow: $boxShadow-24;
      transform: translateY(-10px);
      transition: $transition;
    }
  }

  &__img {
    border: $bordaCard;
    transition: $transition;
    width: 100%;
    &:hover {
      transform: scale(1.1);
      transition: $transition;
    }
  }

  &__title {
    @extend .title;
    border-bottom: $bordaCard;
    margin: 0;
    padding: 2.5%;
    @include desktop {
      font-size: 1.25rem;
    }

    & span {
      font-size: 0.9rem;
      font-weight: lighter;
      @include desktop {
        font-size: 1.1rem;
      }
    }
  }

  &__content {
    @extend .content;
    border-bottom: $bordaCard;
    margin: 0;
    padding: 5%;
    @include tablet {
      flex-grow: 2;
    }
    @include desktop {
      font-size: 1rem;
      flex-grow: 2;
    }
  }
}

.produtosAction {
  @include alignItens-justifyContent(center, center);
  @include display-flexDirection(flex, row);
  width: 100%;
  @include desktop {
    justify-content: flex-end;
  }

  & > a {
    @include alignItens-justifyContent(center, space-between);
    @include display-flexDirection(flex, row);
    text-decoration: none;
    width: 100%;
  }

  &__btn {
    @include color-fontSize($marromTipo, 1.125rem);
    @include height-width(7.5vh, 100%);
    background-color: transparent;
    border: none;
    font-weight: 700;
    padding: 5%;
    text-align: center;
    text-transform: uppercase;
    transition: $transition;
    &:hover {
      @include color-fontSize($branco, 1.175rem);
      background-color: $marromTipo;
      transition: $transition;
      cursor: pointer;
    }
    &:active {
      background-color: $laranjaPrincipal;
      color: $marromAcinzentado;
      transition: $transition;
    }
  }

  &__howUse {
    @include alignItens-justifyContent(center, center);    
    @include display-flexDirection(flex, row);
    @include height-width(7.5vh, 20%);
    background-color: transparent;
    border: none;
    font-weight: 700;
    padding: 2.5%;
    text-align: center;
    text-transform: uppercase;
    transition: $transition;
    &:hover {      
      background-color: $marromTipo;
      transition: $transition;
      cursor: pointer;
    }
    &:active {
      background-color: $laranjaPrincipal;
      color: $marromAcinzentado;
      transition: $transition;
    }

    & > a {
      @include color-fontSize($marromTipo, 0.6rem);
      text-decoration: none;
      transition: $transition;
      &:hover {
        @include color-fontSize($branco, 0.625rem);
        transition: $transition;
      }
    }
  }

  &__btnDetails {
    background-color: transparent;
    border: none;

    &___icon {
      @include color-fontSize($marromTipo, 1.25rem);
      &:hover {
        @include color-fontSize($laranjaPrincipal, 1.175rem);
        transition: $transition;
      }
      &:active {
        background-color: $laranjaPrincipal;
        color: $marromAcinzentado;
        transition: $transition;
      }
    }
  }
}
