@import "../../variables/variables.scss", "../../mixins/mixins.scss";

.title {
  @include color-fontSize($marromTipo, 1.5rem);
  font-family: $fonteTitulo;
  margin: 10% 0;
  text-align: center;
  width: 100%;
  @include tablet {
    font-size: 1.5rem;
    margin: 5% 0;
  }
  @include desktop {
    font-size: 2.5rem;
    margin: 2.5% 0;
  }
}
