@import "../../scss/styles.scss";

.menu {
  &__container {
    max-height: 0;
    padding: $padding-lateral-7;

    @include desktop {
      @include alignItens-justifyContent(center, space-between);
      @include display-flexDirection(flex);
      max-height: none;
      padding: $padding-lateral-7;
      position: absolute;
      width: 100%;
      white-space: nowrap;
    }
  }

  &__box {
    @include display-flexDirection(flex);
    @include alignItens-justifyContent(center, space-between);
    visibility: hidden; //mobile-only

    @include desktop {
      visibility: visible;
    }
    &___content {
      @include desktop {
        font-size: 1rem;
        white-space: nowrap;
      }
    }
  }
}

.icone {
  @include color-fontSize(1rem, $marromTipo);
  margin: 0 8px;
  max-width: 0px;

  @include desktop {
    @include height-width(1.75rem, 2.75rem);
    color: $marromTipo;
    margin: 0 2.5%;
    max-width: none;
    &:hover {
      color: $laranjaPrincipal;
    }
  }
}
