@import "../../scss/styles.scss";

.navContainer {
  @include display-flexDirection(flex);
  @include alignItens-justifyContent(center, space-between);
  position: absolute;
  padding: 5%;
  top: 0;
  width: 100%;
  
  @include tablet {
    margin-bottom: 25%;
  }
  
  @include desktop {
    @include alignItens-justifyContent(center, space-between);
    @include display-flexDirection(flex, row);
    margin-bottom: 5%;
    position: fixed;
    top: 100px;
  }

  &__navClose {
    //padding-right: 5%;
    display: none;
    //max-width: 0px; //mobile-only
   // max-height: 0px; //mobile-only

    @include desktop {
      padding-right: 0;
      max-width: none;
      max-height: none;
      width: 75%;
      @include display-flexDirection(flex, row);
      @include alignItens-justifyContent(flex-start, flex-end);
    }
  }

  &__navOpen {
    position: absolute;
    top: 80px;
    right: 0;
    @include height-width(100vh, 100vw);
  }
  
  
  &__hamburguer {
    @include alignItens-justifyContent(null, space-between);
    @include display-flexDirection(flex, column);
    background-color: transparent;
    //border: 2px solid $marromTipo;
    border: none;
    box-shadow: 4px 4px 4px rgba(0,0,0,8%);
    height: 5vh;
    padding: 2%;
    width: 12%;

    @include tablet {
      width: 8.5%;
      height: 5%;
      padding: 1.15%;
      right: 5%;
      top: 2.5%;
    }
    @include desktop {
      display: none;
    }

    &___line {
      background-color: $marromTipo;
      height: 3px;
      width: 100%;
      border-radius: 8px;
    }
  }

  &__ulClose {
    list-style: none;
    max-height: 0vh;
    overflow: hidden;
    visibility: collapse;
    transition: max-height .3s ease-in-out;
    //width: 0vw;
    
    @include desktop {
      @include alignItens-justifyContent(center, space-between);
      @include display-flexDirection(flex, row);
      margin: 0;
      padding: 0;
      visibility: visible;
      width: 70%;
    }
  }

  &__ulOpen {
    @include alignItens-justifyContent(flex-end);
    @include display-flexDirection(flex, column);
    background-color: #fff;
    list-style: none;
    max-height: 40vh;
    padding: 7.5%;
    position: absolute;
    transition: max-height .3s ease-in-out;
    width: 100vw;

    @include tablet {
      height: 30%;
      padding: 5%;
    }

    & li {
      animation: fadeIn 0.95s ease-in-out;
      font-size: 1.5rem;
      padding: 2.5% 0;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.item {
  text-transform: uppercase;
  font-weight: bold;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }    
  & > a {
    @include color-fontSize($verdeTipo, 1.25rem);
    text-decoration: none;
  }
}

.logo {
  
  width: 30%;

  @include tablet {
    margin: 2.5% 2.5% 0;
    width: 30%;
  }
  @include desktop {
    margin: 0;
    width: 25%;
  }
}
