@import "../../scss/styles.scss";

.navContainer {
  @include display-flexDirection(flex);
  @include alignItens-justifyContent(center, space-between);
  @include height-width(80px, 100%);
  position: absolute;
  padding: 5%;
  top: 0;
  
  @include tablet {
    margin-bottom: 25%;
  }
  
  @include desktop {
    @include alignItens-justifyContent(center, space-between);
    @include display-flexDirection(flex, row);
    padding: 0 7.5%;
    position: fixed;
    top: 50px;
    transition: all .3s ease;
  }

  &__navClose {
    display: none;
    list-style: none;

    @include desktop {
      padding-right: 0;
      max-width: none;
      max-height: none;
      width: 75%;
      @include display-flexDirection(flex, row);
      @include alignItens-justifyContent(flex-start, flex-end);
    }
  }

  &__navOpen {
    visibility: visible;
    position: absolute;
    top: 80px;
    right: 0;
    @include height-width(100vh, 100vw);

    @include tablet {
      top: 120px;
    }
  }
  
  
  &__hamburguer {
    @include alignItens-justifyContent(null, space-between);
    @include display-flexDirection(flex, column);
    @include height-width(5vh, 12%);
    background-color: transparent;
    border: none;
    box-shadow: 4px 4px 4px rgba(0,0,0,8%);
    height: 5vh;
    padding: 2%;
    width: 12%;

    @include tablet {
      @include height-width(5vh, 8%);
      padding: 1.15%;
      right: 5%;
      top: 2.5%;
    }
    @include desktop {
      display: none;
    }

    &___line {
      background-color: $marromTipo;
      height: 3px;
      width: 100%;
      border-radius: 8px;
    }
  }

  &__ulClose {
    max-height: 0vh;
    
    @include desktop {
      @include alignItens-justifyContent(center, space-between);
      @include display-flexDirection(flex, row);
      margin: 0;
      padding: 0;
      visibility: visible;
      width: 70%;
    }
  }

  &__ulOpen {
    @include alignItens-justifyContent(flex-end);
    @include display-flexDirection(flex, column);
    background-color: #fff;
    list-style: none;
    max-height: 40vh;
    padding: 7.5%;
    position: absolute;
    right: 0px;
    width: 100vw;

    @include tablet {
      margin: 0;
      height: 45vh;
      padding: 5%;
    }

    & li {
      font-size: 1.5rem;
      padding: 2.5% 0;

      &:hover {
        font-weight: bold;
      }
    }

    @include desktop {
      list-style: none;
    }
  }
}

.item {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }    
  & > a {
    @include color-fontSize($verdeTipo, 1.25rem);
    text-decoration: none;
    
  }
}

.logo {
  
  width: 30%;

  @include tablet {
    width: 25%;
  }
  @include desktop {
    margin: 0;
    padding: 1% 0;
    width: 25%;
  }
}

.desktopActive {
  @include alignItens-justifyContent(center, space-between);
  @include display-flexDirection(flex, row);
  @include height-width(80px, 100%);
  padding: 0 7.5%;
  position: fixed;
  top: 0px;
  background-color: $marromTipo;
  transition: all .5s ease;

  & nav ul li a {
    color: white;
  }
}
