@import "../../scss/styles.scss";

.navContainer {
  @include alignItens-justifyContent(center, space-between);
  @include display-flexDirection(flex);
  @include height-width(80px, 100%);
  position: absolute;
  padding: 5%;
  transition: $transition;
  top: 0;

  @include tablet {
    margin-bottom: 25%;
  }

  @include desktop {
    @include alignItens-justifyContent(center, space-between);
    @include display-flexDirection(flex, row);
    padding: $padding-lateral-7;
    position: fixed;
    top: 50px;
    transition: $transition;
  }

  &__navClose {
    @include height-width(1vh, 100vw);
    position: absolute;
    right: 0;
    left: 0;
    transition: $transition;
    top: 80px;
    overflow: auto;
    visibility: hidden;

    @include desktop {
      @include alignItens-justifyContent(flex-start, flex-end);
      @include display-flexDirection(flex, row);
      @include height-width(fit-content, 70%);
      padding-right: 0;
      right: 7.5%;
      top: 0px;
      transform: translate(0%);
      transition: $transition;
    }
  }

  &__navOpen {
    @include height-width(45vh, 100vw);
    position: absolute;
    right: 0;
    left: 0;
    transition: $transition;
    top: 80px;
    overflow: auto;
    visibility: visible;
    padding: 7.5%;

    @include tablet {
      height: 50vh;
    }
  }

  &__hamburguer {
    @include alignItens-justifyContent(null, space-between);
    @include display-flexDirection(flex, column);
    @include height-width(5vh, 12%);
    background-color: transparent;
    border: none;
    padding: 2%;
    &:hover {
      cursor: pointer;
    }

    @include tablet {
      @include height-width(6vh, 8%);
      padding: 1.15%;
      right: 5%;
      top: 2.5%;
    }
    @include desktop {
      display: none;
    }

    &___brownLine {
      @extend .hamburguerButtonColor;
      background-color: $marromTipo;
    }

    &___whiteLine {
      @extend .hamburguerButtonColor;
      background-color: $branco;
    }
  }

  &__ulClose {
    @include alignItens-justifyContent(flex-end);
    @include display-flexDirection(flex, column);
    @include height-width(1vh, 96vw);
    background-color: $branco;
    list-style: none;
    margin: 0;
    padding: 7.5%;
    position: absolute;
    right: 0px;
    left: 0;
    transition: $transition;

    @include desktop {
      @include alignItens-justifyContent(center, space-between);
      @include display-flexDirection(flex, row);
      @include height-width(fit-content, 70%);
      background-color: transparent;
      list-style: none;
      margin: 0;
      padding: 0;
      right: 0px;
      transform: translate(0%);
      transition: $transition;
      visibility: visible;
      width: 90%;
    }

    & li {
      @include tablet {
        font-size: 1rem;
        padding: 0;
        padding-bottom: 2%;
      }
    }
  }

  &__ulOpen {
    @include alignItens-justifyContent(flex-end);
    @include display-flexDirection(flex, column);
    @include height-width(45vh, 96vw);
    background-color: $branco;
    list-style: none;
    margin: 0;
    padding: 7.5%;
    position: absolute;
    right: 0px;
    left: 0;
    transition: $transition;
    

    @include tablet {
      margin: 0;
      height: 45vh;
      padding: 5%;
    }

    & li {
      font-size: 1.5rem;
      padding: 2.5% 0;

      @include tablet {
        font-size: 1rem;
        padding: 0;
        padding-bottom: 2%;
      }

      &:hover {
        font-weight: bold;
      }
    }

    @include desktop {
      list-style: none;
    }
  }
}

.item {
  font-weight: bold;
  list-style: none;
  padding: 3.5%;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  & > a {
    @include color-fontSize($verdeTipo, 1.25rem);
    text-decoration: none;
  }
}

.logo {
  width: 50%;

  @include tablet {
    width: 50%;
  }
  @include desktop {
    margin: 0;
    padding: 1% 0;
    width: 90%;
  }
}

.desktopActive {
  @include alignItens-justifyContent(center, space-between);
  @include display-flexDirection(flex, row);
  @include height-width(80px, 100%);
  background-color: $marromTipo;
  padding: $padding-lateral-7;
  position: fixed;
  top: 0px;
  transition: $transition;
  z-index: 10;

  @include desktop {
    & nav ul li a {
      color: $branco;
    }
  }
}
