@import '../../scss/styles.scss';

.section {
    background-color: $bgFooter;
    padding: 5%;
    width: 100%;
}

.footerContainer {
    @include display-flexDirection(flex, column);

    &__box {
        margin-bottom: 5%;

        //REFATORAR AQUI e criar um estilo padrao pro logo do header e do footer
        &___logo {
            width: 40%;
        }

        &___content {
            @include color-fontSize(white, 1rem);
            margin: 5% 0;
        }
    }

    &__icontainer {
        @include display-flexDirection(flex);
        @include alignItens-justifyContent(null, space-between);
        width: 50%;

        &___icon {
            @include color-fontSize($rosaPadrao, 2rem);
            transition: color .25s;
            &:hover {
                color: $linkHover;
                transition: color .25s;
            }
            &:active {
                color: $linkActive;
                transition: color .25s;
            }
            &visited {
                color: $linkVisited;
                transition: color .25s;
            }
        }
    }

    &__address {
        @include display-flexDirection(flex, column);
        margin: 10% 0;

        &___title {
            @extend .title;
            color: $rosaPadrao;
            text-align: left;
        }

        &___box {
            @include display-flexDirection(flex, row);
            @include alignItens-justifyContent(center);
            margin: 0;

            &____icon {
                @include color-fontSize(white, 0.9rem);
                margin: 0 5% 0 0;
            }

            &____content {
                color: white;
                margin: 2% 0;
            }
        }

    }

    &__links {
        @include display-flexDirection(flex, column);
        margin: 10% 0;

        &___title {
            @extend .title;
            color: $rosaPadrao;
            text-align: left;
        }

        &___content {
            color: white;
            margin: 2% 0;
        }
    }

    &__newsletter {
        @include display-flexDirection(flex, column);
        margin: 10% 0;

        &___title {
            @extend .title;
            color: $rosaPadrao;
            text-align: left;
        }

        &___content {
            color: white;
            margin: 0 0 5% 0;
        }

        &___input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid white;
            height: 7.5vh;
            margin-bottom: 5%;
            padding: 2%;
            width: 100%;
            &:active {
                color: $rosaPadrao;
            }
        }

        &___button {
            @include color-fontSize($marromTipo, 1.25rem);
            background-color: $rosaPadrao;
            border: none;
            height: 7.5vh;
            padding: 2%;
            transition: all 0.25s;
            width: 100%;

            &:hover {
                background-color: $linkHover;
                color: white;
                transition: all 0.25s;
            }
            &:active {
                border: 1px solid $linkActive;
                color: $bgFooter;
                transition: all 0.25s;
            }
        }
    }

    &__copyright {
        @include display-flexDirection(flex, column);

        & p {
            @include color-fontSize($marromAcinzentado, 0.65rem);
            margin: 2% 0;

            & span {
                font-weight: bold;
            }

            & a {
                color: $laranjaPrincipal;
                text-decoration: none;
            }
        }
    }
}
