@import '../../scss/styles.scss';

.section {
    width: 100%;
    background-color: $bgFooter;
    padding: 5%;
}

.footerContainer {
    display: flex;
    flex-direction: column;

    &__box {
        margin-bottom: 5%;

        //REFATORAR AQUI e criar um estilo padrao pro logo do header e do footer
        &___logo {
            width: 40%;
        }

        &___content {
            font-size: 1rem;
            color: white;
            margin: 5% 0;
        }
    }

    &__icontainer {
        display: flex;
        justify-content: space-between;
        width: 50%;

        &___icon {
            font-size: 2rem;
            color: $rosaPadrao;
            transition: color .25s;
            &:hover {
                color: $linkHover;
                transition: color .25s;
            }
            &:active {
                color: $linkActive;
                transition: color .25s;
            }
            &visited {
                color: $linkVisited;
                transition: color .25s;
            }
        }
    }

    &__address {
        display: flex;
        flex-direction: column;
        margin: 10% 0;

        &___title {
            @extend .title;
            text-align: left;
            color: $rosaPadrao;
        }

        &___box {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0;

            &____icon {
                color: white;
                margin: 0 5% 0 0;
                font-size: 0.9rem;
            }

            &____content {
                color: white;
                margin: 2% 0;
            }
        }

    }

    &__links {
        display: flex;
        flex-direction: column;
        margin: 10% 0;

        &___title {
            @extend .title;
            text-align: left;
            color: $rosaPadrao;
        }

        &___content {
            color: white;
            margin: 2% 0;
        }
    }

    &__newsletter {
        display: flex;
        flex-direction: column;
        margin: 10% 0;

        &___title {
            @extend .title;
            text-align: left;
            color: $rosaPadrao;
        }

        &___content {
            color: white;
            margin: 0 0 5% 0;
        }

        &___input {
            border: none;
            border-bottom: 1px solid white;
            background-color: transparent;
            padding: 2%;
            margin-bottom: 5%;
            height: 7.5vh;
            width: 100%;
            &:active {
                color: $rosaPadrao;
            }
        }

        &___button {
            border: none;
            background-color: $rosaPadrao;
            padding: 2%;
            height: 7.5vh;
            width: 100%;
            font-size: 1.25rem;
            color: $marromTipo;
            transition: background-color 0.25s;
            transition: color 0.25s;
            transition: border .25s;

            &:hover {
                background-color: $linkHover;
                color: white;
                transition: background-color 0.25s;
                transition: color 0.25s;
            }
            &:active {
                border: 1px solid $linkActive;
                transition: border .25s;
                color: $bgFooter;
            }
        }
    }

    &__copyright {
        display: flex;
        flex-direction: column;

        & p {
            color: $marromAcinzentado;
            font-size: .65rem;
            margin: 2% 0;

            & span {
                font-weight: bold;
            }

            & a {
                color: $laranjaPrincipal;
                text-decoration: none;
            }
        }


    }

}