@import "../../scss/styles.scss";

.container {
  padding: 20% 5% 0;

  @include desktop {
    @include alignItens-justifyContent(flex-start, space-between);
    @include display-flexDirection(flex, row);
    flex-wrap: wrap;
  }
}

.boxTitle {
  @include alignItens-justifyContent(center, center);
  @include display-flexDirection(flex, column);

  &__title {
    @extend .title;
  }

  &__content {
    @extend .content;

    @include desktop {
      margin-bottom: 7.5%;
    }
  }
}

.boxMyInfo {
  background-color: $rosaPadrao;
  padding: 5%;
  margin-bottom: 10%;

  @include desktop {
    width: 45%;
  }

  &__title {
    @include color-fontSize($marromTipo, 1.25rem);
    margin: 0 0 2.5%;
    &:first-of-type {
      margin-top: 7.5%;
    }
  }

  &__content {
    @include color-fontSize($marromTipo, 1rem);
    margin: 0 0 10%;
  }
}

.boxSocialMedia {
  @include alignItens-justifyContent(center, space-around);
  @include display-flexDirection(flex, row);
  width: 75%;

  //componentizar
  &__link {
    @include alignItens-justifyContent(center, flex-start);
    @include display-flexDirection(flex, row);
    margin: 2.5% 0 10%;
    width: 100%;
  }

  &__icon {
    //div utilizada no formulario de contato e no footer
    @extend .divIconesSocialMedia;
  }
}

.form {
  @include alignItens-justifyContent(flex-start, center);
  @include display-flexDirection(flex, column);
  margin-bottom: 15%;

  @include desktop {
    width: 45%;
  }

  @include display-flexDirection(flex, column);
  &__box {
    @include alignItens-justifyContent(center, flex-start);
    width: 100%;
    &:last-of-type {
      margin-bottom: 10%;
    }
  }

  &__input {
    @include height-width(7.5vh, 100%);
    background-color: transparent;
    border: 1px solid $marromLinha;
    margin-bottom: 5%;
    padding: 2%;
    &:focus {
      background-color: $linkActive;
      color: $marromTipo;
      outline: 0;
    }
  }

  &__input[name="message"] {
    height: 30vh;

    @include desktop {
      height: 37vh;
    }
  }
}

.botao {
  @extend .botaoSaibaMais;

  @include desktop {
    align-self: flex-end;
    margin: 0;
  }
}
