@import "../../scss/styles.scss";

.container {
  padding: 20% 5% 0;
}

.boxTitle {
  @include display-flexDirection(flex, column);
  @include alignItens-justifyContent(center, center);

  &__title {
    @extend .title;
  }

  &__content {
    @extend .content;
  }
}

.boxMyInfo {
  background-color: $rosaPadrao;
  padding: 5%;
  margin-bottom: 10%;

  &__title {
    @include color-fontSize($marromTipo, 1.25rem);
    margin: 0 0 2.5%;
    &:first-of-type {
      margin-top: 7.5%;
    }
  }

  &__content {
    @include color-fontSize($marromTipo, 1rem);
    margin: 0 0 10%;
  }
}

.boxSocialMedia {
  @include display-flexDirection(flex, row);
  @include alignItens-justifyContent(center, space-around);
  width: 75%;
  
  //componentizar
  &__link {
    @include display-flexDirection(flex, row);
    @include alignItens-justifyContent(center, flex-start);
    margin: 2.5% 0 10%;
    width: 100%;
  }
  //componentizar
  
  &__icon {
    @include color-fontSize($marromTipo, 2rem);
    transition: color 0.25s;
    &:hover {
      color: $linkHover;
      transition: color 0.25s;
    }
    &:active {
      color: $linkActive;
      transition: color 0.25s;
    }
    &visited {
      color: $linkVisited;
      transition: color 0.25s;
    }
  }
}

.form {
  @include display-flexDirection(flex, column);
  @include alignItens-justifyContent(flex-start,center);
  margin-bottom: 15%;

  &__box {
    @include display-flexDirection(flex, column);
    @include alignItens-justifyContent(center, flex-start);
    width: 100%;
    &:last-of-type {
      margin-bottom: 10%;
    }
  }

  &__input {
    background-color: transparent;
    border: 1px solid $marromLinha;
    height: 7.5vh;
    margin-bottom: 5%;
    padding: 2%;
    width: 100%;
    &:focus {
      color: $marromTipo;
      background-color: $linkActive;
      outline: 0;
    }
  }

  &__input[name="message"] {
    height: 30vh;
  }
}

.botao {
  @extend .botaoSaibaMais;
}
