@import "../../../scss/styles.scss";

.produtosFilter {
  @include alignItens-justifyContent(null, space-between);
  @include display-flexDirection(flex, row);
  flex-wrap: wrap;
  margin-bottom: 15%;
  padding: 5%;
  width: 100%;

  @include tablet {
    & > p {
      width: 100%;
    }
  }

  @include desktop {
    padding: 2.5% 0;
    margin-bottom: 2.5%;
    & > p {
      margin: 1.5% 0;
      width: 100%;
    }
  }

  &__button {
    @include color-fontSize($marromTipo, 1.25rem);
    @include height-width(10vh, 47.5%);
    background-color: transparent;
    border: $bordaCard;
    margin: 2.5% 0;
    transition: $transition;
    &:hover {
      cursor: pointer;
    }

    @include tablet {
      width: 30%;
    }

    @include desktop {
      @include height-width(7.5vh, 15%);
      font-size: 1rem;
      margin: 1%;
      transition: $transition;
    }

    &:hover {
      @include color-fontSize($branco, 1.15rem);
      background-color: $bgBotao;
      box-shadow: $boxShadow-24;
      border: $bgBotao;
      font-weight: bold;
      transform: translateY(-5px);
      transition: $transition;
    }
  }
}

.button--active {
  @include color-fontSize(white, 1.3rem);
  background-color: $bgBotao;
  border: $bgBotao;
  font-weight: bold;
  transition: $transition;
}
